*{
   
    color: white;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.navbar{
   
    padding: 25px 0;
   
    background-color: black;
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
}   
.navbar ul{
    display: flex;
    justify-content: center;
}
.navbar ul li {
    list-style: none; 
    display: inline-block;
    margin: 0 20px;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(backgorund.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}


.content_banner{
    width: 100%;
    position: absolute;
    top: 50%;
    color: white;
    text-align: center;
    transform: translateY(-100%);
}

.content_banner h1{
    font-size: 70px;
    margin-top: 80px;
}

.content_banner p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

.button_banner {
    background-color:red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.5s;
    border-radius: 8px;
}

.button_bannera{
    background-color: transparent;

    border: 2px solid red;
}

.button_bannera:hover{
    background-color: red;

}

.background{
    padding: 100px 350px;
}

.about_contain h2{
    text-decoration: underline;
    padding: 0px 0px 25px;


}
.about_contain p {
    padding: 10px 0 0;
}

.about_contain h3{
    padding: 15px 0px 15px;

}

img {
    width: 100%;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.bw-photo {
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.bw-photo:hover {
    filter: grayscale(0);
}

.skill_bar{
    display: flex;
    flex-direction: row-reverse;
    
}
.skill1_white_bar{
    height: 30px;
    background-color: white;
    width: 15%;

}

.skill1_grey_bar{
    height: 30px;
    background-color: gray;
    width: 85%;
}

.skill2_white_bar{
    background-color: white;
}

.skill2_grey_bar{
     background-color: gray;
     height: 30px;
     width: 50%;
}
.fa-solid.fa-user{
    font-size: 100px;
}